body
{
	background-color: #d5e8ee;
	color: #353535;
	font-family: 'Lato', sans-serif;
}

#logo-strony
{
	background-color:  #0099ff;
	font-family: 'Roboto', sans-serif;
	width: auto;
	text-align: center;
	font-size: 55px;
	color: white;
	border-bottom: 2px solid #15B5CA;
	border-top: 2px solid #15B5CA;
	max-height: 220px;
}

#cytat
{
	text-align: center;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	padding-top: 5px;
	font-size: 17px;
}

#stopka
{
	background-color:  #0099ff;
	font-family: 'Roboto', sans-serif;
	width: 100% ;
	text-align: center;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid #15B5CA;
	border-top: 1px solid #15B5CA;
	max-height: 50px;
}

.navbar
{
	min-height: 80px;
}

.bg-wlasne
{
	background-color: #353535;
	font-size:20px;
	border-bottom: 2px solid #15B5CA;
}

.icon-shopping-bag
{
	color: #15B5CA;
}

.icon-menu-outline
{
	color: #15B5CA;
}

.icon-money-1
{
	color: #15B5CA;
}

.icon-chart-line
{
	color: #15B5CA;
}

.icon-logout
{
	color: tomato;
}

.icon-cogs
{
	color: gold;
}

.icon-user-1
{
	color: #5cb85c;
}

.artykul-main
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 100px;
	margin-right: auto;
	text-align: center;
	width: 60%;
}

@media (max-width: 767px)
{
		.artykul-main
	{
		margin-top: 40px;
		margin-left: auto;
		margin-bottom: 100px;
		margin-right: auto;
		text-align: center;
		width: 90%;
	}
}


.artykul-main-bilans
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 100px;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

.artykul-main p
{
	padding-top: 30px;
	margin-bottom: 60px;
	font-size: 16px;
	text-align: justify;
}

.radio
{
	text-align: left;
}

.przychod
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 60px;
	margin-right: auto;
	width: 400px;
	text-align: center;
}

.wydatek
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 60px;
	margin-right: auto;
	width: 400px;
	text-align: center;
}

.logowanie
{
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 50px !important;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

.rejestracja
{
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 100px;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

input
{
	border-radius: 5px;
}

.tile1
{
	width: 100%;
	min-width: 260px;
	background-color: #dddddd;
	text-align: center;
	padding: 10px;
	border: 1px solid #15B5CA;
	border-radius: 15px;
	margin-bottom: 15px;
}

.tile2
{
	width: 100%;
	padding: 10px;
	background-color: white;
	text-align: center;
	border: 1px solid #15B5CA;
	border-radius: 15px;
}

.modal-body
{
	text-align: right;	
}

.modal-dialog
{
	width: 300px;
}

